# List of DNS records to be checked and updated to point to the server's public IP address
# For root A records, use '@'
FQDNS=(
  "@.example.com"
  "media.example.com"
  "drive.example.com"
  "srv01.example.com"
)

# Configure your AWS CLI profile and hosted zone ID below
AWS_PROFILE="your_aws_profile"
AWS_HOSTED_ZONE_ID="Z096079620AHY28L12345"

# Get from the documentation page at https://ifttt.com/maker_webhooks
# Format: https://maker.ifttt.com/trigger/{IFTTT_EVENT}/json/with/key/{IFTTT_KEY}
IFTTT_KEY=""
IFTTT_EVENT=""

LOG_FILE="log.csv"